
<div class="body-wrapper">
  <div class="content-wrapper">

    <div class="row">
        <div class="col-3">
            <div class="holidayform">
                <mat-form-field appearance="outline" class="mat-form-field-outcome">
                    <mat-label>Ile masz dni urlopu?</mat-label>
                    <input matInput placeholder="duzo, malo?" [(ngModel)]="this.year.vacationDays" (input)="onChange()" >
                </mat-form-field>
            </div>
        </div>
        <div class="col-6">
            <div class="year-switcher">
                <h2>Rok {{this.year.year}} </h2>
                <button mat-stroked-button color="primary" (click)="prevYear()"> < </button>
                <button mat-stroked-button color="primary" (click)="nextYear()">></button>
                <button mat-stroked-button color="primary" (click)="loadSelectedDaysFromLocalData()"> Gites urlopik </button>
            </div>
        </div>
        <div class="col-3">
            <div class="year-switcher">
                <li>Ilość urlopu: {{this.year.vacationDays}}</li>
                <li>Wykorzystane dni urlopowe: {{this.year.vacationDaysUsed}}</li>
                <li>Pozostałe dni urlopowe: {{this.year.vacationDaysRemain}}</li>
            </div>
        </div>
    </div>

    <div class="year text-center">
        <div class="month" *ngFor="let month of this.months; let i=index">
            {{ miesiaceCaptions[i] }}

            <app-month [monthToDisplay]="i" [yearSelected]="this.year" (selectedDay)="selectDay($event)">
            </app-month>
        </div>
    </div>

    <div>

        <!-- Day selected: {{daySelected}} -->
    </div>

  </div>

  <app-footer></app-footer>

</div>
